*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 0, 0);
}
.header-main{
    display: flex;
    justify-content: space-between;
}
.header-contact{
    margin: 1px;
    display: flex;
    color: rgb(228, 228, 228);
}
.header-contact div{
    margin: 7.5px;
    justify-content: center;
}
.header-social-link{
    margin: 1px;
}
.fa{
    font-size: large;
    color:rgb(228, 228, 228);
  }
.nav-row{
    right: 10%;
}

